* {
  box-sizing: border-box;
}

.Depoimentos .container-fluid {
  background-color: white;
  padding: 4rem 0;
}

.Depoimentos .depoimentos-view {
  padding: 1.5rem 0;
}

.Depoimentos .square {
  width: 17.1875rem;
  max-width: 90%;
  height: 18.75rem;
  position: absolute;
  margin-top: 4rem;
}

.Depoimentos .image {
  max-width: 100%;
  height: 18.75rem;
  object-fit: cover;
  position: relative;
  z-index: 2;
  background-color: black;
}

.Depoimentos .shadow-left-yellow {
  box-shadow: -55px 55px #FFDA00;;
}

.Depoimentos .shadow-right-orange {
  box-shadow: 55px 55px #FF822E;
}

.Depoimentos .shadow-right-green {
  box-shadow: 55px 55px #A9D825;
}


.Depoimentos .shadow-right-yellow {
  box-shadow: 55px -55px #FFDA00;;

}

.image-adjust {
  transform: rotate(90deg);
  height: 200px
}

.Depoimentos .shadow-left-orange {
  box-shadow: -55px 55px #FF822E;
}
.Depoimentos .view-image {
  height: 400px;
  display: flex;
  justify-content: center;
  margin: 15px;
}

.Depoimentos .view-texto {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 55px;
}

.Depoimentos .align-left {
  padding: 2rem 10rem 2rem 0rem;
  text-align: left;
}

.Depoimentos .align-right {
  padding: 2rem 0rem 2rem 10rem;
  text-align: right;
}

.Depoimentos .text-shadow-left {
  position: relative;
  right: 50px;
}

.Depoimentos .text-shadow-right {
  position: relative;
  left: 50px;
}

.Depoimentos .titulo {
  font-size: 1.5rem;
  color: #1b1b1b;
  font-family: "Nunito";
  font-weight: 700;
  width: 100%;
}

.Depoimentos .texto {
  font-size: 1rem;
  color: #1b1b1b;
  font-family: "Nunito";
  font-weight: normal;
  width: 100%;
}

.Depoimentos .reverse {
  flex-direction: row-reverse;
}

.Depoimentos .align-right {
  text-align: right !important;
}

@media only screen and (max-width: 900px) {

  .Depoimentos .align-left {
  padding: 1rem;
  text-align: center !important;
  margin-top: -50px;
  }

.Depoimentos .align-right {
  padding: 1rem ;
  text-align: center !important;
}

.Depoimentos .text-shadow-left {
  position: relative;
  right: 5px;
  margin-top: -50px;
  align-self: left;
}

.Depoimentos .text-shadow-right {
  position: relative;
  left: -5px ;
  margin-top: -50px;
  align-self: left;
}

.Depoimentos .view-texto {
  display: flex;
  flex-direction: column;
  align-self: center;

}

.Depoimentos .view-image {
  margin-top: 50px;
}

.texto-adjust {
  margin-top: -130px !important;
}


.Depoimentos .shadow-left-yellow {
  box-shadow: -25px 55px #FFDA00;;
}

.Depoimentos .shadow-right-orange {
  box-shadow: 25px 55px #FF822E;
}

.Depoimentos .shadow-right-green {
  box-shadow: 25px 55px #A9D825;
}


.Depoimentos .shadow-right-yellow {
  box-shadow: 25px -55px #FFDA00;;
}


.Depoimentos .shadow-left-orange {
  box-shadow: -25px 55px #FF822E;
}
}
