.Inscricoes .container-fluid {
  background-color: white;
  padding: 4rem 0 !important;
}

.Inscricoes .square {
  width: 15rem;
  max-width: 90%;
  height: 16rem;
  position: absolute;
  margin-top: 4rem;
}

.Inscricoes .yellow {
  background-color: #ffda00;
}
.Inscricoes .inscricoes-view {
  padding-top: 2.5rem;
}

.Inscricoes .image {
  max-width: 16rem;
  height: 16rem;
  object-fit: cover;
  position: relative;
  z-index: 2;
  background-color: black;
}

.Inscricoes .margin-left {
  margin-left: 2rem;
}
.Inscricoes .view {
  margin: 0.5rem 0.25rem;
  display: flex;
  flex-direction: column;
}
.Inscricoes .texto {
  display: flex;
  flex-direction: column;

  align-self: center;
  z-index: 2;
  position: relative;
}

.Inscricoes .titulo {
  font-size: 2.3rem;
  color: #1b1b1b;
  font-family: "Nunito";
  font-weight: 400;
  width: 100%;
  z-index: 2;
  position: inherit;
  margin: 1rem;
  text-align: center;
}

.Inscricoes .green {
  background-color: #a9d825;
}

.Inscricoes .orange {
  background-color: #ff822e;
}

.Inscricoes .reverse {
  flex-direction: row-reverse;
}

.Inscricoes .align-right {
  text-align: right !important;
}

.Inscricoes .voluntario-button {
  margin: 0 1rem;
  height: 4rem;
  color: #ff822e !important;
  font-family: "Nunito", sans-serif !important;
  border-radius: 2rem !important;
  border: 1px solid #ff822e !important;
  text-align: center;
}

.Inscricoes .voluntario-button:hover {
  background-color: #ff822e !important;
  color: white !important;
}
