.Inscricoes .container-fluid {
  background-color: white;
  padding: 4rem 0 !important;
  margin-top: 5rem;
}

.Inscricoes .view {
  margin: 0.5rem 0.25rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  border-radius: 5%;
  padding: 1rem;
}
.Inscricoes .texto {
  display: flex;
  flex-direction: column;
  align-self: center;
  z-index: 2;
  position: relative;
  height: 100%;
  width: 100%;
}

.Inscricoes .titulo {
  font-size: 1.7rem;
  color: #1b1b1b;
  font-family: "Nunito";
  font-weight: 700;
  z-index: 2;
  position: inherit;
  text-align: left;
  height: 100%;
  width: 70%;
  flex-wrap: wrap;
}

.Inscricoes .voluntario-button{
  display: flex;
  height: 2.5rem;
  background-color: white;
  color: black !important;
  font-family: "Nunito", sans-serif !important;
  border-radius: 2rem !important;
  border: 1px solid white !important;
  text-align: center;
  line-height: 13px;
  font-weight: bold;
}

.Inscricoes .voluntario-button:hover {
  background-color: transparent;
  color: white !important;
}


.orange {
  background-color: #FF822E;
}

.green {
  background-color: #A9D825;
}


.yellow {
  background-color: #FFDA00;
}

@media screen and (max-width: 767px) {
  .Inscricoes .view {
    margin: 0.5rem 3.25rem;
  }
}
