.JunteSe .bg-laranja {
  background-color: #ff822e;
  padding: 1rem;
  height: 55vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.JunteSe .titulo {
  font-size: 56px;
  color: black;
  font-family: "Nunito";
  font-style: normal;
  margin: 0.5rem 0 2rem;
  text-align: center;
  font-weight: bold;
  line-height: 73px;
}

.JunteSe .junte-se-button {
  height: 3.5rem;
  background-color: white;
  color: black !important;
  font-family: "Nunito", sans-serif !important;
  border-radius: 2rem !important;
  border: 1px solid white !important;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  line-height: 22px;
  font-weight: bold;
}

.JunteSe .junte-se-button:hover {
  background-color: #FF822E !important;
  color: white !important;
}


@media only screen and (max-width: 607px) {
  .JunteSe .titulo {
    font-size: 48px;
  }
}


@media only screen and (max-width: 520px) {
  .JunteSe .titulo {
    font-size: 42px;
  }
}

@media only screen and (max-width: 463px) {
  .JunteSe .titulo {
    font-size: 41px;
  }
}

@media only screen and (max-width: 453px) {
  .JunteSe .titulo {
    font-size: 40px;
  }
}

@media only screen and (max-width: 443px) {
  .JunteSe .titulo {
    font-size: 39px;
  }
}
@media only screen and (max-width: 432px) {
  .JunteSe .titulo {
    font-size: 29px;
  }
  
  .JunteSe .junte-se-button {
      padding: 0 1.5rem;
  }
}

@media only screen and (max-width: 330px) {
  .JunteSe .titulo {
    font-size: 28px;
  }

  .JunteSe .junte-se-button {
    padding: 0 1.3rem;
  }
}

@media only screen and (max-width: 330px) {
  .JunteSe .titulo {
    font-size: 27px;
  }

  .JunteSe .junte-se-button {
      padding: 0 0.9rem;
  }
}

@media only screen and (max-width: 309px) {
  .JunteSe .titulo {
    font-size: 26px;
  }

  .JunteSe .junte-se-button {
      padding: 0 0.8rem;
  }
}
