.NossasAcoes .container {
  width: 100%;
  height: 100%;
  margin-top: 0rem;
  padding: 0 1.875rem;
  background-color: #f5f6f7;
}
.NossasAcoes .nav-bar-space {
  height: 6rem;
  border: solid 1px black;
}
.NossasAcoes .container-fluid {
  background-color: #f5f6f7;
}
.NossasAcoes .titulo {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #1b1b1b;
  font-size: 3.5rem;
  margin: 4.125rem 0 4rem;
  width: 100% !important;
  text-align: center;
}
.NossasAcoes .titulo-icon {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #1b1b1b;
  font-size: 4.5625rem;
  margin: 4.125rem 0 4rem;
}

.NossasAcoes .subtitulo {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #1b1b1b;
  font-size: 1.5rem;
  margin: 2.5rem 1rem;
  width: 100%;
  text-align: center;
}
.NossasAcoes .texto {
  font-family: "Nunito", sans-serif;
  color: #1b1b1b;
  font-size: 1rem;
  text-align: left;
  line-height: 1.875rem;
}
.NossasAcoes .square-green {
  width: 40rem;
  max-width: 90%;
  height: 40rem;
  background-color: #a9d825;
  margin-top: 6.25rem;
  position: absolute;
  right: 0;
}

.NossasAcoes .image {
  max-width: 100%;
  height: 40rem;
  object-fit: cover;
  position: relative;
  margin-left: 6.25rem;
  z-index: 2;
  background-color: black;
}

.NossasAcoes .view-image {
  padding: 1rem 0 1rem 1.875rem;
  margin-bottom: 2rem;
}
.NossasAcoes .background-yellow {
  background-color: #ffda00;
}

@media screen and (max-width: 771px) {
  .NossasAcoes .image {
    height: 25rem !important;
    margin-left: 3.25rem !important;
  }
  .NossasAcoes .square-green {
    height: 25rem !important;
    margin-top: 3.25rem !important;
  }
  .NossasAcoes .titulo {
    margin: 4.125rem 0 2rem;
    font-size: 3.5625rem;
  }
}
