.Footer .container{
    padding: 2rem;
    margin-top: 1rem;
    min-height: 0;
}

.Footer .vertical-align {
    display: flex;
    align-items: center;
}
.Footer span{
    font-family: 'Nunito', sans-serif;
    color:#1B1B1B;
    font-size: 1rem;
    margin-left: 0.5rem;
}

a:link, a:visited {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  color: #1B1B1B;
  text-decoration: none;
  cursor: auto;
}

@media screen and (max-width: 991px) {
    .Footer .row{
        flex-direction: inherit;
    }

}
