.MissaoVisao {
  position: relative;
  z-index: 2;
}
.MissaoVisao .container-fluid {
  background-color: white;
  padding: 1rem;
}
.MissaoVisao .missao-view {
  padding: 2rem 1rem;
}
.MissaoVisao .titulo_card {
  font-size: 2.5rem;
  color: #1b1b1b;
  font-family: "Nunito";
  font-style: normal;
  margin: 0.5rem 0;
}

.MissaoVisao .texto_card {
  font-size: 1.5rem;
  color: #1b1b1b;
  font-family: "Nunito";
  font-style: normal;
}

.MissaoVisao .saiba-mais-button {
  height: 3.5rem;
  color: #ff822e !important;
  font-family: "Nunito", sans-serif !important;
  border-radius: 2rem !important;
  border: 1px solid #ff822e !important;
  text-align: center;
  display: flex;
  align-items: center;
}

.saiba-mais-button:hover {
  background-color: #ff822e !important;
  color: white !important;
}

.olho {
  width: 80px;
}
