* {
    box-sizing: border-box;
  }

.header-laranja {
  display: flex;
  background-color: #FF822E;
  width: 1006px;
  height: 669px;
}

.fapa-card {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 150px;
}

.faca-algo-por-alguem {
  display: flex;
  color: #1B1B1B;
  font-family: "Nunito";
  font-size: 56px;
  font-weight: bold;
  line-height: 73px;
 }

.ong-sem-fins-lucrati {
  display: flex;
  color: #1B1B1B;
  font-family: "Nunito";
  font-size: 16px;
  line-height: 30px;
}

.assista-o-video-comp {
  display: flex;
  color: #1B1B1B;
  font-family: "Nunito";
  font-size: 16px;
  line-height: 30px;
}
