* {
  box-sizing: border-box;
}

.header{
  display: flex;
  flex-direction: column;
  background-color: #ff822e;
  width: 100%;
  height: 650px;
  padding: 0;
  margin: 0;
}

.fapa-card {
  margin-top: 316px;
  margin-left: 150px;
  margin-bottom: 4px;
  position: absolute;
}

.faca-algo-por-alguem {
  color: black;
  font-family: "Nunito";
  font-size: 56px;
  font-weight: bold;
  line-height: 73px;
  position: relative;
  bottom: 480px;
  left: 20px;
  z-index: 2;
  color: white;
  text-shadow: 1px 1px black;
}

.ong-sem-fins-lucrati {
  color: black;
  font-family: "Nunito";
  font-size: 16px;
  line-height: 30px;
  position: relative;
  bottom: 485px;
  left: 20px;
  z-index: 2;
  color: white;
  text-shadow: 1px 1px black;
}

.video-fapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.video-fade {
  background-color: #ff822e;
  opacity: 0.4;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 735px;
}

.video-fapa img {
  width: 100%;
  height: 735px;
  position: relative;
  bottom: 90px;
}


.img {
  position: absolute;
  height: 44px;
  width: 50px;
  margin-left: 380px;
  margin-top: 0px;
}

.frame {
  width: 100%;
  height: 555px;
}

.arrow {
  color: white;
  position: relative;
  bottom: 240px;
  font-size: 50px !important;
  z-index: 2;
  animation: arrowloop 0.8s linear infinite;
  cursor: pointer;
}

.play {
  color: white;
  position: relative;
  bottom: 530px;
  font-size: 75px !important;
  z-index: 2;
  cursor: pointer;
}


@keyframes arrowloop {
  0% {
    bottom: 240px;
  }

  50% {
    bottom: 250px;
  }

  100% {
    bottom: 240px;
  }

}
