
.calendario{
  width: 100%;
}
.square {
  width: 9.25rem;
  margin: 0.5rem;
  height: 6rem;
  padding: 0.5rem;
  text-align: center;
  align-items: center;
}
.image-square {
  position: relative;
  width: 100%;
  height: 2rem;
  margin-bottom: 0.3rem;
  object-fit: contain;
}
.cards-view {
  width: 100%;
  display: flex;
  direction: row-reverse;
  justify-content: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
.image-title {
  font-size: 1rem;
  color: #1b1b1b;
  font-family: "Nunito";
  font-style: normal;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-agenda {
  font-size: 1rem;
  color: #1b1b1b;
  font-family: "Nunito";
  font-style: oblique;
}


@media screen and (max-width: 500px) {

  .calendario {


    justify-content: space-between;
  }
  .cards-view{
    justify-content: space-between;
  }
}
