@import url("https://fonts.googleapis.com/css?family=Knewave|Nunito:600&display=swap");

.container-alcance {
  background-color: rgba(169, 216, 37, 0.1);
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-numero {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 62px 0px;
}
.div-numero {
  margin: 50px;
}
.numero {
  font-size: 100px;
  color: #ff822e;
  font-family: "Knewave", cursive;
  text-align: center;
}
h2 {
  font-size: 64px;
}
.sub-num {
  color: #1b1b1b;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  text-align: center;
}

.carousel {
  margin: 0% 50% 5%;
}

.d-block {
  align-items: center;
  height: 421px !important;
  width: 700px !important;
}

.container-alcance .nossas-acoes-button {
  height: 3.5rem;
  color: #ff822e !important;
  font-family: "Nunito", sans-serif !important;
  border-radius: 2rem !important;
  border: 1px solid #ff822e !important;
  text-align: center;
  display: flex;
  align-items: center;
  align-self: center;
}

.nossas-acoes-button:hover {
  background-color: #ff822e !important;
  color: white !important;
}

.carousel-indicators {
  bottom:-50px !important;
}

.carousel-indicators li{
  border-radius:50% !important;
  height: 10px !important;
  width: 10px !important;
  background-color: #ff822e !important;
}

@media only screen and (max-width: 900px) {
  .sub-num {
   text-align: center;
  }

  .nossas-acoes-button {
    margin-top: 40px;
  }

  .container-numero {
    flex-direction: column;
    margin: auto;
  }

}

@media only screen and (max-width: 700px) {
  .d-block {
    height: 255px !important;
    width: 49vh !important;
  }

}


@media only screen and (max-width: 480px) {
  .d-block {
    height: 220px !important;
    width: 40vh !important;
  }
}
