@import url("https://fonts.googleapis.com/css?family=Knewave|Nunito:600&display=swap");

.container-alcance {
  background-color: rgba(169, 216, 37, 0.1);
  width: 100%;
  padding: 1rem 0;
}
.container-numero {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.div-numero {
  margin: 50px;
}
.numero {
  font-size: 100px;
  color: #ff822e;
  font-family: "Knewave", cursive;
  text-align: center;
}
h2 {
  font-size: 64px;
}
.sub-num {
  color: #1b1b1b;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
}
.acoes {
  padding: 62px 150px 62px;
}
.carousel {
  margin: 0% 10% 5%;
}

.d-block {
  align-items: center;
  /*height: 633px;
  width: 1139px;*/
}

.container-alcance .nossas-acoes-button {
  height: 3.5rem;
  color: #ff822e !important;
  font-family: "Nunito", sans-serif !important;
  border-radius: 2rem !important;
  border: 1px solid #ff822e !important;
  text-align: center;
  display: flex;
  align-items: center;
}

.nossas-acoes-button:hover {
  background-color: #ff822e !important;
  color: white !important;
}

.carousel-indicators {
  bottom:-50px !important;
}

.carousel-indicators li{
  border-radius:50% !important;
  height: 10px !important;
  width: 10px !important;
  background-color: #ff822e !important;
}

@media only screen and (max-device-width: 900px) {
  .sub-num {
   text-align: center;
  }
  
  .nossas-acoes-button {
    margin-top: 40px;
  }
    
}